/*Insertando fuentes de google fonts*/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/*
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;
*/


div.cargando
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    font-size: 60px;
    text-align: center;
}

div.cargando i
{
    position: relative;
    margin-top: 200px;
    color: white;
    
}


